
    <div class="row">
      <div class="col m6 card-finder">
          <h2>Card finder</h2>

                    <div class="input-field col s12">
                       <input id="listFilter" #listFilter type="text" class="validate filter-input" [(ngModel)]=query (keyup)="filter(); 0">
                       <label for="country">Country</label>
                     </div>
                     <div *ngIf="filteredList.length > 0">
                         <ul class="suggestions" *ngFor="let item of filteredList" >
                             <li >
                                 <a (click)="select(item)">{{item}}</a>
                             </li>
                         </ul>
                     </div>


          <div class="row">
          <div  *ngIf="allCards" class="grid">
                <div  class="element-item transition" data-category="transition" *ngFor="let card of allCards | cardName:listFilter.value | paginate: { itemsPerPage: 8, currentPage: p }">
                  <img class="card-img" src="{{card.img}}"/>
                </div>

          </div>
          </div>
            <div class="row">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
